go 1.22.3

use (
	./azure_all_resources
	./cobra_example
	./cobra_example_simple
	./counter_api_server_inmemory
	./counter_api_server_redis
	./create_or_update_kubernetes_secret
	./echo_example
	./embedded_tree
	./example_oidc_server
	./external_slu_install_bin
	./file_server_from_binary
	./file_server_from_dir
	./function_alias
	./get_images_for_env_for_values_yaml
	./get_latest_helm_chart_version
	./ghcr_token_example
	./gitlab_feature_flags_example
	./go_byte_slice_from_file
	./go_expand_env
	./go_expand_env_with_cobra
	./gobble_from_golang
	./google_device_auth
	./google_drive_upload
	./gorm_example
	./hello_world
	./helm_from_go_code_basic
	./helm_with_values_in_embeded_fs
	./htpasswd_generator
	./image_in_terminal
	./image_server
	./image_server_from_library
	./ip_from_x_forwarded_for_server
	./list_all_kubernetes_namespaces
	./multi_value_flag
	./oidc_example
	./prometheus_query
	./random_email_generator
	./read_stdin
	./regex_example_makefile_up
	./regexp_example_calver_git_tags
	./rename_to_prefix_i_suffix
	./resize_image
	./saml_example
	./send_error_to_sentry
	./server_example
	./server_with_multiple_ports
	./simple_api_server
	./simple_smtp_server
	./ssh_echo_server
	./ssh_example_using_rig
	./ssh_sudo_with_password
	./template_condition_eval
	./test_example
	./validate_keycloak_jwt
	./vault_backup_using_http_get
	./viper_and_cobra_example
	./viper_and_cobra_example_advanced
	./viper_env_only
	./viper_example
	./viper_write_config_example
	./web_tar_gz_example
	./web_zip_example
	./wireguard_http_get
	./yaml_merge
	./zerolog_example
)
